.main-container {
  padding: 0 48px;
}

@media screen and (max-width: 900px) {
  .main-container {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .main-container {
    padding: 0 16px;
  }
}
