.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
    padding-bottom: 24px;
    flex-direction: column;
    align-items: flex-start;
  }
}
