.lead__content {
  padding-top: 28px;
  max-width: 720px;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .lead__content {
    margin: auto 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__content {
    margin: auto 16px;
  }
}
