.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title url-heading"
    "image text";
  gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 700px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title "
      "url-heading"
      "image"
      "text";
  }
}

@media screen and (max-width: 700px) {
  .place {
    gap: 32px 32px;
  }
}
